[Unit]
Description=motion mirror control
After=network.target

[Service]
User=%i
Type=simple
ExecStart=/home/marc/motion_sensor/motion.py 
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
