[Unit]
Description=mqtt switch for magic mirror
After=network.target

[Service]
user=%i
Type=simple
ExecStart=/home/pi/scripts/mm_switch.py &> /dev/null &
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
