# file location /etc/systemd/system/rygel@rygel.service 
Desciption=rygel upnp/dlna sever

[Service]
Type=simple
User=%i
ExecStart=/usr/bin/rygel --disallow-deletion --disallow-upload --replace --config=/etc/rygel.conf
sendSIGKILL=no
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
